* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

body {
  background: black;
  color: white;
  overflow-x: hidden;
}

/* ЗАСТАВКА */
#intro {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 10;
}

.door {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  transition: transform 1.5s ease;
}

.door img {
  width: 200px;
}

/* МАГАЗИН */
#shop {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 150px;
  opacity: 0;
  transition: opacity 1s ease;
}

.product {
  border: 1px solid white;
  padding: 30px;
  width: 200px;
  text-align: center;
  transition: all 0.3s ease;
  position: relative;
}

.product button {
  opacity: 0;
  margin-top: 20px;
  padding: 10px;
  background: white;
  color: black;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.product:hover {
  transform: scale(1.05);
}

.product:hover button {
  opacity: 1;
}
